<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Пончики от Мстителей</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>FutLive</h1>
        <div class="pustota"></div>
        <nav>
            <li><a href="/">Главная страница</a></li>
            <li><a href="/allnews">Все новости</a></li>
            <li><a href="/live">LIVE</a></li>
            <li><a href="/info">Информация</a></li>
        </nav>
    </header>
    <main>
        <article class="banner">
                <h1>FutLive</h1>
                <p>
                    Футбольный новостной сайт
                </p>
        </article>
        <article class="post" id="hulk">
            <p>
                Лучшие футбольные новости только у нас!
            </p>
            <img src="beligol.jpg">
        </article>
        <div class="razryv"></div>
        <article class="post" id="ironman">
            <img src="Отец барсы.png">
            <p>
                Прямые трансляции матчей, результаты, статистика игроков, форум, лучшие моменты и многое другое!
            </p>
        </article>
        <article id="final">
            <div>
                Поддержать разработку
            </div>
        </article>
    </main>
    <footer id="info">
        (c) Все права пока что никому не принадлежат
</body>
</html>


